<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <center>
    <h1 style="color:red; margin-top:10%">Oppps! The Page is not found kambo!</h1>
</center>
</body>
</html>