<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <div class="container">
    <section>
        <h1>About Us</h1>
        <p>Seit etwa zwei Jahren entwickle ich mich im Bereich Programmierung, erst mit Hilfe von Online-Kursen und dann mit Hilfe einer Weiterbildung an der Hochschule Hannover. Ich freue mich auf die Gelegenheit, im Bereich Webentwicklung zu arbeiten.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dolorem corrupti sint iure deserunt asperiores eaque voluptas, a eum labore.</p>
    </section>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>