<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos pariatur aspernatur eaque fuga iure, quia reiciendis dicta nobis dolorem sequi?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dolorem corrupti sint iure deserunt asperiores eaque voluptas, a eum labore.</p>
    </section>
</body>
</html>