<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <form action="/admin/add" method="post">
            <input type="text" name="title" placeholder="title" required>
            <input type="text" name="short" placeholder="summary statement" required>
            <input type="text" name="long" placeholder="content" required>
            <input type="submit" value="Add">
        </form>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>