<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <a href="/admin/add">+ Add Blog</a>
        <h1>Blogs</h1>
        <ul>
            <%blogs.forEach((blog)=>{%>
            <li>
                <p>
                    <%=blog.title%>
                </p>
                <a href="">Sil</a>
            </li>
            <%})%>
        </ul>
    </section>

    
</body>
</html>