<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <a href="/admin/add">+ Add Blog</a>
        <h1>Blogs</h1>
        <ul>
            <%blogs.forEach((blog)=>{%>
            <li>
                <p>
                    <%=blog.title%>
                </p>
                <a class="del" 
                data-doc="<%=blog._id%>"
                >
                    delete
                </a>
            </li>
            <%})%>
        </ul>
    </section>

    <script>
        
        const del=document.querySelector('a.del')
        del.addEventListener('click',(e)=>{
            const endpoint=`/admin/delete/${del.dataset.doc}`

            fetch(endpoint,{
                method:'DELETE'
            })
            .then((response)=>response.json())
            .then((data)=> window.location.href=data.link)
            .catch((error)=>{
                console.log(err)
            })
        })
        
    </script>

</body>
</html>


