<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%>
    <section>
        <form action="" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
            <p style="color: #999;">You may also use : <br> username: <span style="color:blue">fahri1</span> <br> with pasword: <span style="color:blue">1234</span></p>
        </form>
        
    </section>
</body>
</html>